.container {
    width: 100%;
}

.--setOrder {
    width: 100%;
}

.--word {
    font-weight: 600;
}

// .--img {
//     height: 200px;
//     width: 200px;
// }
.--title {
    font-size: 24px;
    padding-bottom: 10px;
    color: #216358;
    font-weight: 600;
    text-align: center;
}

.--submit {
    padding: 5px 30px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
