<div class="container-fluid container-fluid-private my-5">
  <div class="row">
    <app-navbar class="col-lg-3"></app-navbar>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/83562/image-thumb__83562__image720px/1_105.f4364b69.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">ThS.BSCKII - Bùi Thanh Tiến</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Thạc sĩ | Bác sĩ Chuyên khoa II
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/60252/image-thumb__60252__image720px/1_39.cc3bdd51.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TS.BS. - Đặng Thị Kim Oanh</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Tiến sĩ|Bác sĩ
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/83562/image-thumb__83562__image720px/1_105.f4364b69.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">ThS.BSCKII - Bùi Thanh Tiến</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Thạc sĩ | Bác sĩ Chuyên khoa II
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/60252/image-thumb__60252__image720px/1_39.cc3bdd51.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TS.BS. - Đặng Thị Kim Oanh</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Tiến sĩ|Bác sĩ
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/83562/image-thumb__83562__image720px/1_105.f4364b69.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">ThS.BSCKII - Bùi Thanh Tiến</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Thạc sĩ | Bác sĩ Chuyên khoa II
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/60252/image-thumb__60252__image720px/1_39.cc3bdd51.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TS.BS. - Đặng Thị Kim Oanh</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Tiến sĩ|Bác sĩ
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/83562/image-thumb__83562__image720px/1_105.f4364b69.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">ThS.BSCKII - Bùi Thanh Tiến</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Thạc sĩ | Bác sĩ Chuyên khoa II
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/60252/image-thumb__60252__image720px/1_39.cc3bdd51.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TS.BS. - Đặng Thị Kim Oanh</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Tiến sĩ|Bác sĩ
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/83562/image-thumb__83562__image720px/1_105.f4364b69.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">ThS.BSCKII - Bùi Thanh Tiến</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Thạc sĩ | Bác sĩ Chuyên khoa II
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/60252/image-thumb__60252__image720px/1_39.cc3bdd51.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TS.BS. - Đặng Thị Kim Oanh</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Tiến sĩ|Bác sĩ
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/83562/image-thumb__83562__image720px/1_105.f4364b69.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">ThS.BSCKII - Bùi Thanh Tiến</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Thạc sĩ | Bác sĩ Chuyên khoa II
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 my-2">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://hongngochospital.vn/_default_upload_bucket/60252/image-thumb__60252__image720px/1_39.cc3bdd51.jpg" class="img-fluid rounded-start" alt="..." style="height: 245px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TS.BS. - Đặng Thị Kim Oanh</h5>
                  <a href="" class="">Xem chi tiết</a>
                  <p class="card-text my-3">
                    Tiến sĩ|Bác sĩ
                  </p>
                  <p class="card-text"><small class="text-body-secondary">Bệnh viện Đa khoa Hồng Ngọc – Phúc Trường Minh</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
