<div class="container-fluid container-fluid-private my-5">
  <div class="row">
    <app-navbar class="col-lg-3"></app-navbar>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-4 my-2">
          <div class="card px-0">
            <img src="https://hongngochospital.vn/_default_upload_bucket/60164/image-thumb__60164__image720px/%E1%BA%A3nh%20m%E1%BA%B7c%20%C4%91%E1%BB%8Bnh%20hi%E1%BB%83n%20th%E1%BB%8B.fa8266dd.jpg" class="card-img-top --height" alt="...">
            <div class="card-body my-3">
              <h5 class="card-title">Điều trị trầm cảm lo âu</h5>
              <p class="card-text my-5">
                Bệnh trầm cảm gây rối loạn tâm trạng  khiến người bệnh buồn bã, giảm động lực, giảm...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-2">
          <div class="card px-0">
            <img src="https://hongngochospital.vn/_default_upload_bucket/74414/image-thumb__74414__image720px/Da%20li%E1%BB%85u.c014aaeb.png" class="card-img-top --height" alt="...">
            <div class="card-body my-3">
              <h5 class="card-title">Điều trị nám, Tàn nhang</h5>
              <p class="card-text my-5">

                Nám, tàn nhang xuất hiện với các đốm nâu, đen trên da do tình trạng tăng sắc tố gây...

              </p>
            </div>
          </div>
        </div>
       <div class="col-lg-4 my-2">
          <div class="card px-0">
            <img src="https://hongngochospital.vn/_default_upload_bucket/71241/image-thumb__71241__image720px/Hi%E1%BB%83n%20th%E1%BB%8B%20DV%20290%20200_1.97a53e61.jpg" class="card-img-top --height" alt="...">
            <div class="card-body my-3">
              <h5 class="card-title">Chụp CT Phổi Liều Thấp</h5>
              <p class="card-text my-5">
                Thẩm mĩ viện Hồng Ngọc với công nghệ máy móc hiện đại và đội ngũ bác sĩ chuyên môn...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-2">
          <div class="card px-0">
            <img src="https://hongngochospital.vn/_default_upload_bucket/80197/image-thumb__80197__image720px/272_DV%20c%C3%B4%20b%C3%A9%20416%20x%20290.9c2b8d0f.jpg" class="card-img-top --height" alt="...">
            <div class="card-body my-3">
              <h5 class="card-title">Cô bé</h5>
              <p class="card-text my-5">
                Thẩm mĩ viện Hồng Ngọc với công nghệ máy móc hiện đại và đội ngũ bác sĩ chuyên môn...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-2">
          <div class="card px-0">
            <img src="https://hongngochospital.vn/_default_upload_bucket/80196/image-thumb__80196__image720px/271_c%E1%BA%AFt%20m%C3%AD%20%20416x290.de6ad507.jpg" class="card-img-top --height" alt="...">
            <div class="card-body my-3">
              <h5 class="card-title">Cắt mi</h5>
              <p class="card-text my-5">
			          Cắt mí là giải pháp tối ưu nhất để loại bỏ các khuyết điểm trên mắt như: mắt 1 mí, hai...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-2">
          <div class="card px-0">
            <img src="https://hongngochospital.vn/_default_upload_bucket/83151/image-thumb__83151__image720px/39_web416x290.39c7ac08.png" class="card-img-top --height" alt="...">
            <div class="card-body my-3">
              <h5 class="card-title">Điều trị mụn</h5>
              <p class="card-text my-5">

			          Da Liễu Bệnh Viện Hồng Ngọc áp dụng công nghệ điều trị mụn chuẩn y khoa, giúp đánh bay...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-2">
          <div class="card px-0">
            <img src="https://hongngochospital.vn/_default_upload_bucket/83151/image-thumb__83151__image720px/39_web416x290.39c7ac08.png" class="card-img-top --height" alt="...">
            <div class="card-body my-3">
              <h5 class="card-title">Điều trị mụn</h5>
              <p class="card-text my-5">

			          Da Liễu Bệnh Viện Hồng Ngọc áp dụng công nghệ điều trị mụn chuẩn y khoa, giúp đánh bay...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-2">
          <div class="card px-0">
            <img src="https://hongngochospital.vn/_default_upload_bucket/83151/image-thumb__83151__image720px/39_web416x290.39c7ac08.png" class="card-img-top --height" alt="...">
            <div class="card-body my-3">
              <h5 class="card-title">Điều trị mụn</h5>
              <p class="card-text my-5">

			          Da Liễu Bệnh Viện Hồng Ngọc áp dụng công nghệ điều trị mụn chuẩn y khoa, giúp đánh bay...
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 my-2">
          <div class="card px-0">
            <img src="https://hongngochospital.vn/_default_upload_bucket/83151/image-thumb__83151__image720px/39_web416x290.39c7ac08.png" class="card-img-top --height" alt="...">
            <div class="card-body my-3">
              <h5 class="card-title">Điều trị mụn</h5>
              <p class="card-text my-5">

			          Da Liễu Bệnh Viện Hồng Ngọc áp dụng công nghệ điều trị mụn chuẩn y khoa, giúp đánh bay...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
