// Tiny Slider One Wrapper 
.tiny-slider-one-wrapper
    .tiny-slider-one
        // Single Hero Slide 
        div
            .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/slide_1.png')")
                .h-100.d-flex.align-items-center.text-center
                    .container
                        h3.text-white.mb-1 Thanh toán không tiền mặt
                        p.text-white.mb-4 Dịch vụ thanh toán không tiền mặt sử dụng QRCode, POS liên ngân hàng
                        a.btn.btn-creative.btn-warning(href="#") Đăng ký ngay
        
        // Single Hero Slide 
        div
            .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/slide_2.png')")
                .h-100.d-flex.align-items-center.text-center
                    .container
                        h3.text-white.mb-1 Trợ lý ảo HC
                        p.text-white.mb-4 Trợ lý ảo giúp người dùng rảnh tay, ra lệnh, nhập liệu bằng giọng nói tiếng Việt.
                        a.btn.btn-creative.btn-warning(href="#") Đăng ký ngay

        // Single Hero Slide 
        div 
            .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/slide_3.png')")
                .h-100.d-flex.align-items-center.text-center
                    .container
                        h3.text-white.mb-1 SMS - Email Marketing
                        p.text-white.mb-4 Kết nối và chăm sóc khách hàng chuyên nghiệp, hiệu quả với SMS BranchName và Email doanh nghiệp.
                        a.btn.btn-creative.btn-warning(href="#") Đăng ký ngay

        // Single Hero Slide 
        div 
            .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/slide_4.png')")
                .h-100.d-flex.align-items-center.text-center
                    .container
                        h3.text-white.mb-1 Quản trị "Chuỗi phòng khám"
                        p.text-white.mb-4 Giúp bạn và các đối tác "Khắc hợp - khắc xuất" linh hoạt với chiến lược phát triển thương hiệu chuyên nghiệp.
                        a.btn.btn-creative.btn-warning(href="#") Đăng ký ngay

        // Single Hero Slide 
        div
            .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/slide_5.png')")
                .h-100.d-flex.align-items-center.text-center
                    .container
                        h3.text-white.mb-1 Tư vấn sức khỏe từ xa
                        p.text-white.mb-4 Xóa bỏ khoảng cách địa lý của phòng khám tới khách hàng bằng công nghệ Video Call 4.0.
                        a.btn.btn-creative.btn-warning(href="#") Đăng ký ngay