// # Sidenav Left 

// Offcanvas 
.offcanvas.offcanvas-start#affanOffcanvas(data-bs-scroll="true", tabindex="-1", aria-labelledby="affanOffcanvsLabel")
    button.btn-close.btn-close-white.text-reset(type="button", data-bs-dismiss="offcanvas", aria-label="Close")

    .offcanvas-body.p-0
        // Side Nav Wrapper 
        .sidenav-wrapper
            // Sidenav Profile 
            .sidenav-profile.bg-gradient
                .sidenav-style1

                // User Thumbnail 
                .user-profile
                    img(src="img/bg-img/2.jpg", alt="")

                // User Info 
                .user-info
                    h6.user-name.mb-0 Triệu Tử Long
                    span CEO, Phòng khám đa khoa Tây Bắc

            // Sidenav Nav 
            ul.sidenav-nav.ps-0
                li
                    a(href="hc-page-home.html")
                        i.bi.bi-house-door
                        | Trang chủ
                li
                    a(href="elements.html")
                        i.bi.bi-folder2-open
                        | Cơ sở
                        span.badge.bg-danger.rounded-pill.ms-2 220+
                li
                    a(href="pages.html")
                        i.bi.bi-collection
                        | Trang
                        span.badge.bg-success.rounded-pill.ms-2 100+
                li
                    a(href="#")
                        i.bi.bi-cart-check
                        | Cửa hàng
                    ul
                        li
                            a(href="page-shop-grid.html") Mạng lưới cửa hàng
                        li
                            a(href="page-shop-list.html") Danh sách cửa hàng
                        li
                            a(href="page-shop-details.html") Chi tiết cửa hàng
                        li
                            a(href="page-cart.html") Giỏ hàng
                        li
                            a(href="page-checkout.html") Thủ tục thanh toán
                li
                    a(href="settings.html")
                        i.bi.bi-gear
                        | Cài đặt
                li
                    .virtual-assistant-nav 
                        i.bi.bi-robot
                        | Trợ lý ảo
                        .form-check.form-switch
                            input.form-check-input.form-check-success#vaSwitch(type="checkbox")
                li
                    .night-mode-nav
                        i.bi.bi-moon
                        | Chế độ tối
                        .form-check.form-switch
                            input.form-check-input.form-check-success#darkSwitch(type="checkbox")
                li
                    .night-mode-nav
                        i.bi.bi-mic
                        | Trợ lý ảo
                        .form-check.form-switch
                            //- input.form-check-input.form-check-success#darkSwitch(type="checkbox")
                            input.form-check-input(type="checkbox", id="darkSwitch")
                            label.form-check-label(for="darkSwitch") Off
                li
                    a(href="hc-login.html")
                        i.bi.bi-box-arrow-right
                        | Đăng xuất

            // Social Info 
            .social-info-wrap
                a(href="#")
                    i.bi.bi-facebook
                a(href="#")
                    i.bi.bi-twitter
                a(href="#")
                    i.bi.bi-linkedin

            // Copyright Info 
            .copyright-info
                p 2021 &copy; Made by
                    a(href="#") Designing World