doctype html
html(lang="en")
    head 
        include inc/head.pug

    body.pe-0
        include inc/loader.pug

        include inc/internet-status.pug

        // Header Area 
        .header-area#headerArea
            .container
                // Header Content 
                .header-content.header-style-five.position-relative.d-flex.align-items-center.justify-content-between
                    // Back Button 
                    .back-button
                        a(href="hc-page-home.html")
                            include inc/back-btn.pug

                    // Page Title 
                    .page-heading
                        h6.mb-0 Bệnh nhân

                    // Navbar Toggler 
                    .navbar--toggler#affanNavbarToggler(data-bs-toggle="offcanvas", data-bs-target="#affanOffcanvas", aria-controls="affanOffcanvas")
                        span.d-block
                        span.d-block
                        span.d-block

        include inc/sidenav.pug

        // Add new contact modal 
        .add-new-contact-modal.modal.fade.px-0#addnewcontact(data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="addnewcontactlabel", aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-body.p-4
                        .d-flex.align-items-center.justify-content-between.mb-4
                            h6.modal-title#addnewcontactlabel Thêm bệnh nhân
                            button.btn.btn-close.p-1.ms-auto.me-0(type="button", data-bs-dismiss="modal", aria-label="Close")

                        form(action="#")
                            .input-group.mb-3
                                span.input-group-text#patient-name Họ tên
                                input.form-control(type="text" placeholder="" aria-label="Họ tên bệnh nhân" aria-describedby="patient-name")
                            .input-group.mb-3
                                span.input-group-text#patient-phone SĐT
                                input.form-control(type="text" placeholder="" aria-label="Điện thoại" aria-describedby="patient-phone")
                            .input-group.mb-3
                                span.input-group-text#patient-address Địa chỉ
                                input.form-control(type="text" placeholder="" aria-label="Địa chỉ" aria-describedby="patient-address")
                            .form-group
                                label.form-label(for="patient-note") Ghi chú
                                textarea.form-control#patient-note(name="textarea", cols="3", rows="5", placeholder="")
                            button.btn.btn-primary.w-100(type="submit") Lưu

        .page-content-wrapper.py-3            
            // Add New Contact 
            .add-new-contact-wrap
                a.shadow(href="#", data-bs-toggle="modal" data-bs-target="#addnewcontact")
                    i.bi.bi-plus-lg

            .container
                .card.mb-2
                    .card-body.p-2
                        .chat-search-box
                            form(action="#")
                                .input-group
                                    span.input-group-text#searchbox
                                        i.bi.bi-search
                                    input.form-control(type="search" placeholder="Tìm kiếm theo tên hoặc SĐT" aria-describedby="searchbox")

                // User Status Slide 
                .chat-user-status-slides-wrapper
                    .chat-user-status-slides.mb-2#SlideBenhNhan

                // Element Heading 
                .element-heading
                    h6.ps-1 Danh sách bệnh nhân

                // Chat User List 
                ul.ps-0.chat-user-list#ListBenhNhan

        include inc/footer-nav.pug

        include inc/footer.pug 

        script. 
            var oBenhNhanView = new BenhNhanView();   
            
            