doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/internet-status.pug

        // Back Button 
        .login-back-button
            a(href="hc-login.html")
                svg.bi.bi-arrow-left-short(width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z")

        // Login Wrapper Area 
        .login-wrapper.d-flex.align-items-center.justify-content-center
            .custom-container
                .text-center.px-4
                    img.login-intro-img(src="img/bg-img/doctor-icon.png" alt="")

                // Register Form 
                .register-form.mt-4
                    h6.mb-3.text-center Đăng ký khởi tạo phòng khám

                    form(action="hc-page-otp.html")
                        .form-group.text-start.mb-3
                            input.form-control(type="text" placeholder="Tên phòng khám")

                        .form-group.text-start.mb-3
                            input.form-control(type="text" placeholder="Địa chỉ")
                        
                        .form-group.text-start.mb-3
                            input.form-control(type="text" placeholder="Họ tên người quản trị")

                        .form-group.text-start.mb-3
                            input.form-control(type="text" placeholder="Số điện thoại quản trị")

                        #pswmeter.mb-3
                        .form-check.mb-3
                            input.form-check-input#checkedCheckbox(type="checkbox", value="", checked)
                            label.form-check-label.text-muted.fw-normal(for="checkedCheckbox") Tôi đã đọc và  đồng ý với các <a href="#">chính sách, điều khoản </a> của đơn vị.

                        button.btn.btn-primary.w-100(type="submit") Đăng ký

                // Login Meta 
                .login-meta-data.text-center
                    p.mt-3.mb-0 Bạn đã có tài khoản? 
                        a.stretched-link(href="hc-login.html") Đăng nhập

        include inc/footer-register.pug