doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/internet-status.pug

        // Hero Block Wrapper 
        .hero-block-wrapper.bg-primary
            // Styles 
            .hero-block-styles
                .hb-styles2
                .hb-styles3
                
            .custom-container
                // Hero Block Content 
                .hero-block-content
                    img.mb-4(src="img/bg-img/index.png", alt="")
                    h3.display-4.text-white.mb-3 HC Lite - Quản trị phòng khám chuyên nghiệp
                    p.text-white HC là 1 hệ sinh thái ứng dụng quản lý dành cho phòng khám, chuỗi phòng khám giúp bạn quản lý phòng khám của mình một cách đơn giản, chuyên nghiệp, coi việc mang lại giá trị cho người bệnh làm trung tâm.
                    a.btn.btn-warning.btn-lg.w-100(href="hc-login.html") Bắt đầu thôi!

        include inc/footer.pug 