<div class="container d-flex my-5">
    <div class="--img">
        <a class="">
            <img
                src="https://hongngochospital.vn/undefined/get-image-thumbnail.jpg"
                class="rounded float-start"
                alt="..."
            />
        </a>
    </div>
    <form class="--setOrder">
        <div class="--title">ĐẶT LỊCH KHÁM</div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label --word">Nhập họ và tên của bạn*</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label --word">Nhập số điện thoại của bạn*</label>
            <input type="password" class="form-control" id="exampleInputPassword1" />
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label --word">Vui lòng nhập ngày sinh*</label>
            <input type="password" class="form-control" id="exampleInputPassword1" />
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label --word">Ghi chú</label>
            <input type="password" class="form-control" id="exampleInputPassword1" />
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1">Xác nhận?</label>
        </div>

        <button type="submit" class="btn btn-success --submit">
            <span>Đặt lịch</span>
        </button>
    </form>
</div>
