<!-- <div class="container-fluid px-0 mx-0" style="margin-top: 140px">
    <div class="banner" style="width: 100%">
        <div class="img">
            <img src="https://hongngochospital.vn/Chuy%C3%AAn%20khoa/banner-website64e32024a5f08.jpg" alt="" />
        </div>
    </div>
</div> -->

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="margin-top: 140px">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img
                src="https://hongngochospital.vn/undefined/85608/image-thumb__85608__1920/Website-PC_1.9ba18df6.jpg"
                class="d-block w-100"
                alt="..."
            />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img
                src="https://hongngochospital.vn/undefined/85765/image-thumb__85765__1920/banner%20-%20noi%20soi%20tieu%20hoa%20-%20%20web%20-%20Ngan%20copy_3.fe1b4e9b.jpg"
                class="d-block w-100"
                alt="..."
            />
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img
                src="https://hongngochospital.vn/undefined/84722/image-thumb__84722__1920/110_web%20tm%201920x626_2.6fbf8649.png"
                class="d-block w-100"
                alt="..."
            />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
