<nav class="navbar bg-body-tertiary">
    <div class="container-fluid px-0">
        <form class="d-flex --search" role="search">
            <input
                class="form-control me-2 border-dark-subtle"
                type="search"
                placeholder="Search"
                aria-label="Search"
            />
            <button class="btn btn-outline-success border-dark-subtle bg-color" type="submit">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-search"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                    />
                </svg>
            </button>
        </form>
    </div>
</nav>

<div class="border-dark-subtle container-fluid border my-2">
    <nav class="nav nav-pills flex-column mt-3">
        <a
            class="flex-sm-fill nav-link active d-flex justify-content-between color1 py-3 align-items-center --text"
            aria-current="page"
            href="#"
            >Tất cả
            <div class="--number">274</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Đơn nguyên chấn thương chỉnh hình
            <div class="--numberList">44</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Đơn nguyên nam khoa & PT Niết Liệu
            <div class="--numberList">24</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khám sức khỏe tổng quát
            <div class="--numberList">14</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa cấp cứu hồi sức
            <div class="--numberList">27</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa chuẩn đoán hình ảnh
            <div class="--numberList">35</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa Cơ - Xương - Khớp
            <div class="--numberList">14</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa Da liễu
            <div class="--numberList">4</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa Hô hấp
            <div class="--numberList">4</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa Nội tiếp
            <div class="--numberList">4</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa Nôi tổng hợp
            <div class="--numberList">44</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa Răng - Hàm - Mặt
            <div class="--numberList">44</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa sản - Phụ khoa
            <div class="--numberList">44</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa thận
            <div class="--numberList">44</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa Ung - Bướu
            <div class="--numberList">44</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa Tim mạch
            <div class="--numberList">44</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Tiêm chủng
            <div class="--numberList">44</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Phục hồi chức năng
            <div class="--numberList">44</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Vật lý trị liệu
            <div class="--numberList">44</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa tâm lý sức khỏe
            <div class="--numberList">44</div>
        </a>
        <a
            class="flex-sm-fill nav-link d-flex justify-content-between border align-items-center my-2 --textList"
            href="#"
            >Khoa thẩm mĩ
            <div class="--numberList">44</div>
        </a>
    </nav>
</div>
